<!DOCTYPE html>
<html>
<head>
    <title>Dot Game</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Aleo" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../public/style.css">
</head>
<body>
  <div id="modal">
    <div class="modal-content">
      <p id="final-score"></p>
    </div>
  </div>
  <section id="score-and-speed">
    <p id="score">
      0
    </p>
    <p>SCORE</p>
    <div class="speed">
      <input type="range" min="1" max="100" value="50" class="slider" id="speedRange" onChange="speedHandler(event)">
      <div class="difficulty-meter"></div>
      <p>DIFFICULTY</p>
    </div>
    <div class="buttons">
      <button onClick="startGame()">START GAME</button>
    </div>
    <div class="countdown-container">
      <progress value="0" max="10" id="countdown"></progress>
      <div id="countdown-timer">10</div>
    </div>
  </section>
  <section id="bubble-zone">
    <img class="cloud-1" src="../public/cloud1.svg" alt="Cloud"/>
    <img class="cloud-2" src="../public/cloud1.svg" alt="Cloud"/>
    <p class="mobile-disclaimer">Mobile version </br> coming soon! 🙌 </p>
  </section>
  <script src="../public/index.js"></script>
</body>
</html>
