:root {
  --speed: 5s;
}
html {
  100%;
}

body {
  margin: 0;
  height: 100vh;
  overflow-y: hidden;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: linear-gradient(yellow, orange, red, purple);
}

#modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0,0,0,0.4);
}

.modal-content {
  display: flex;
  flex-direction: column;
  background-color: #fefefe;
  margin: 15% auto;
  padding: 1.2em;
  width: 70%;
  border: 2px solid lightgrey;
  border-radius: 5px;
  box-shadow: 0px 2px 47px -14px rgba(0,0,0,0.75);
}

#close-button {
  align-self: flex-end;
  width: 30px;
  cursor: pointer;
}

#final-score {
  align-self: center;
  font-size: 2em;
}
/* @media only screen and (max-width: 400px) {
  body {
    background-image: linear-gradient(yellow, red, purple);
  }
} */

/* Tablet Styles */
/* @media only screen and (max-width: 960px) {
  body {

  }
} */

#score-and-speed {
  box-shadow: 0px 2px 47px -14px rgba(0,0,0,0.75);
  position: fixed;
  background-color: white;
  top: 0;
  left: 0;
  width: 100%;
  padding-left: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#score {
  font-size: 3em;
  margin: 0;
  color: red;
}

.countdown-container {
  display: flex;
  align-items: center;
}

#countdown {
  font-size: 1.2em;
  color: red;
}

#countdown-timer {
  font-size: 1.2em;
  margin: 1em;
  color: red;
}

.difficulty-meter {
  background: linear-gradient(to right, green, yellow, red);
  width: 90%;
  height: 10px;
  border-radius: 5px;
}

.speed {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.speed input{
  display: block;
  width: 90%;
}

.buttons {
  align-self: center;
}

button {
  border-radius: 5px;
  padding: 1em;
  color: white;
  background-color: #C8C8C8;
  margin: 1em;
}

button:focus {
  border: none;
  outline: 1px solid #fff;
}

/* #bubble-zone { */
  /* background-image: linear-gradient(yellow, red, purple);
  width: 100%;
  height: 100%;
  position: inherit; */
/* } */

.bubble {
  border-radius: 50%;
  position: absolute;
}

.cloud-1 {
  position: relative;
  top: 400px;
  left: 100px;
  width: 400px;
  opacity: 0.3;
}

.cloud-2 {
  position: relative;
  top: 300px;
  left: 350px;
  width: 500px;
  opacity: 0.5;
  transform: rotate(180deg);
}
